:root {
    --charcoal: #3a3f47;
    --charcoalShadeDarker: #22252a;
    --charcoalShadeDarker2: #1e2125;
    --charcoalShadeDarker3: #0c0e10;
    --black: #000000;
    --neonGreen: #c4fa6f;
    --neonGreenDarker: #8eb550;
    --smokeyGrey: #eeeeee;
    --smokeyGreyDarker: #a6a6a6;
    --neonRed: #ff5733;
}

body {
    font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--charcoal);
    background: linear-gradient(var(--charcoal), var(--charcoalShadeDarker));
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
}
