.toDoBox {
    border-radius: 5px;
    background: var(--charcoalShadeDarker2);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    color: var(--neonGreen);
    margin: 10px;
    width: 300px;
    padding: 0.5em;
    animation: fadeIn 0.5s ease-in;
    position: relative;
    pointer-events: auto;
}

input,
select,
textarea,
button {
    font-family: inherit;
}

/* Large devices */
@media only screen and (min-width: 992px) {
    .toDoBox {
        font-size: 13px;
    }
}

/* Smaller devices */
@media screen and (max-width: 992px) {
    .toDoBox {
        font-size: 14px;
    }
}

.toDoHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0.3em;
}

.nameContainer,
.descriptionContainer {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}

/* normal */

.dueDate.normal,
.name.normal,
.description.normal {
    color: var(--smokeyGrey);
    width: fit-content;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.name.normal,
.description.normal {
    text-align: center;
    margin: 0.5em 0;
}

.name.normal {
    font-weight: bold;
}

/* done */

.dueDate.done,
.priority.done,
.name.done,
.description.done {
    opacity: 0.8;
    text-decoration: line-through;
    color: var(--charcoal);
}

.dueDate.done,
.name.done,
.description.done {
    width: fit-content;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.name.done,
.description.done {
    text-align: center;
    margin: 0.5em 0;
}

.doneLine {
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, var(--charcoal), var(--charcoal) 23%, transparent 23%);
    top: 3px;
    height: 1px;
    border: 0;
}

/* editing */

.toDoBox.editMode {
    border: 1px solid var(--smokeyGrey);
}

.dueDate.editMode,
.name.editMode,
.description.editMode {
    color-scheme: dark;
    background-color: transparent;
    color: var(--smokeyGreyDarker);
    border: none;
}

input.description.editMode {
    width: fit-content;
    word-wrap: hard;
}

.priority.editMode {
    background-color: var(--charcoalShadeDarker2);
    color: var(--smokeyGreyDarker);
    border: none;
}

.name.editMode,
.description.editMode {
    text-align: center;
    margin: 0.5em 0;
}

.dueDate.editMode:focus,
.priority.editMode:focus,
.name.editMode:focus,
.description.editMode:focus {
    outline: none;
    border-bottom: 1px solid var(--smokeyGrey);
}

/* priority colors */
.low,
.dueDate.low {
    color: var(--smokeyGrey);
}

.medium,
.dueDate.medium {
    color: var(--neonGreen);
}

.high,
.dueDate.high {
    color: var(--neonRed);
}

/* buttons */

.markDoneButton,
.markDoneButtonShow,
.editButton,
.editButtonShow,
.saveButton,
.saveButtonShow,
.deleteButton,
.deleteButtonShow {
    background-color: var(--charcoalShadeDarker3);
    position: absolute;
    top: 90%;
    padding: 0.2em 0.3em;
    border: 2px solid var(--charcoalShadeDarker3);
    border-radius: 50%;
    animation: fadeIn 0.5s;
}

.markDoneButtonShow:hover,
.editButtonShow:hover,
.saveButtonShow:hover,
.deleteButtonShow:hover {
    background-color: var(--smokeyGrey);
    color: var(--charcoal);
    border-color: var(--smokeyGrey);
    box-shadow: 0 0 0.5em var(--smokeyGrey), 0 0 1em var(--smokeyGrey), 0 0 1.5em var(--smokeyGrey),
        0 0 2em var(--smokeyGrey);
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.markDoneButton,
.markDoneButtonShow {
    color: var(--neonGreen);
    left: -3%;
}

.editButton,
.editButtonShow,
.saveButton,
.saveButtonShow {
    color: var(--smokeyGrey);
    right: -3%;
}

.deleteButton,
.deleteButtonShow {
    color: var(--neonRed);
    right: +8%;
}

.editButton,
.markDoneButton,
.saveButton,
.deleteButton {
    display: none;
}

.editButtonShow,
.markDoneButtonShow,
.saveButtonShow {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* hidden when behind navbar */
.hidden {
    border-radius: 5px;
    background: var(--charcoalShadeDarker2);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    color: var(--neonGreen);
    margin: 10px;
    width: 300px;
    padding: 0.5em;
    opacity: 0;
    pointer-events: none;
    animation: fadeOut 0.3s ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
