.navbarContainer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s;
    z-index: 2;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadeIn 1s;
    z-index: 1;
    padding: 0 0 10px;
}
